p, h1, h2, h3, span {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  background-image:
    radial-gradient(
      #ef5350,
      #b71c1c
    );
}